{{ define "header" }} {{end}}

{{ define "main" }}

<!-- Trending Now -->
<div class="container">
  <div class="trending-now">
    <span class="trending-now__label">
      <i class="fas fa-fire"></i>
      CIBM Formosa</span>
    <div class="newsticker">
      <ul class="newsticker__list">
        {{ range first 3 .Pages }}
        <li class="newsticker__item">
          <a href="{{ .URL }}" class="newsticker__item-url">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
    <div class="newsticker-buttons">
      <button class="newsticker-button newsticker-button--prev" id="newsticker-button--prev" aria-label="next article"><i class="fas fa-angle-left"></i></button>
      <button class="newsticker-button newsticker-button--next" id="newsticker-button--next" aria-label="previous article"><i class="fas fa-angle-right"></i></button>
    </div>
  </div>
</div>

<!-- Featured Posts Grid -->
<section class="featured-posts-grid">
  <div class="container">
    <div class="row row-8">

      <div class="col-lg-6">

        {{ range first 3 (where .Site.Pages "Params.destaque" "CoverLeft") }}
        <!-- Small post -->
        <div class="featured-posts-grid__item featured-posts-grid__item--sm">
          <article class="entry card post-list featured-posts-grid__entry">
            <div class="entry__img-holder post-list__img-holder card__img-holder" style="background-image: url({{.Params.featuredImage}})">
              <a href="{{ .URL }}" class="thumb-url"></a>
              <img src="{{.Params.featuredImage}}" alt="" class="entry__img d-none"> {{ if .Params.editoria }} {{range .Params.editoria}}
              <a href="{{ " /editoria/ " | relLangURL }}{{ . | urlize }}" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--violet">{{ . }}</a> {{ end }} {{end}}
            </div>

            <div class="entry__body post-list__body card__body">
              <h2 class="entry__title">
                  <a href="{{ .URL }}">{{ .Title }}</a>
                </h2>
              <ul class="entry__meta">
                <li class="entry__meta-date">
                  {{ dateFormat "02/01/2006" .Date }}
                </li>
              </ul>
            </div>
          </article>
        </div>
        <!-- end post -->
        {{ end }}

      </div>
      <!-- end col -->

      <div class="col-lg-6">

        <!-- Large post -->
        {{ range first 1 (where .Site.Pages "Params.destaque" "CoverRight") }}
        <div class="featured-posts-grid__item featured-posts-grid__item--lg">
          <article class="entry card featured-posts-grid__entry">
            <div class="entry__img-holder card__img-holder">
              <a href="{{ .URL }}">
                  <img src="{{.Params.featuredImage}}" alt="" class="entry__img">
                </a> {{ if .Params.editoria }} {{range .Params.editoria}}
              <a href="{{ " /editoria/ " | relLangURL }}{{ . | urlize }}" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--green">{{ . }}</a> {{ end }} {{end}}
            </div>

            <div class="entry__body card__body">
              <h2 class="entry__title">
                  <a href="{{ .URL }}">{{ .Title }}</a>
                </h2>
              <ul class="entry__meta">
                <li class="entry__meta-date">
                  {{ dateFormat "02/01/2006" .Date }}
                </li>
              </ul>
            </div>
          </article>
        </div>
        {{ end }}
        <!-- end large post -->
      </div>

    </div>
  </div>
</section>
<!-- end featured posts grid -->

<div class="main-container container pt-24" id="main-container">

  <!-- Content -->
  <div class="row">

    <!-- Posts -->
    <div class="col-lg-8 blog__content">

      <!-- Latest News -->
      <section class="section tab-post mb-16">
        <div class="title-wrap title-wrap--line">
          <h3 class="section-title">Últimos destaques</h3>

          <div class="tabs tab-post__tabs">
            <ul class="tabs__list">
              <li class="tabs__item tabs__item--active">
                <a href="#tab-all" class="tabs__trigger">Tudo</a>
              </li>
              <li class="tabs__item">
                <a href="#tab-news" class="tabs__trigger">Notícias</a>
              </li>
              <li class="tabs__item">
                <a href="#tab-tourism" class="tabs__trigger">Turismo</a>
              </li>
              <li class="tabs__item">
                <a href="#tab-food" class="tabs__trigger">Gastronomia</a>
              </li>
              <li class="tabs__item">
                <a href="#tab-events" class="tabs__trigger">Eventos</a>
              </li>
            </ul>
            <!-- end tabs -->
          </div>
        </div>

        <!-- tab content -->
        <div class="tabs__content tabs__content-trigger tab-post__tabs-content">

          <div class="tabs__content-pane tabs__content-pane--active" id="tab-all">
            <div class="row card-row">
              {{ range first 4 (where .Site.Pages "Params.destaque" "CoverBottom") }}
              <div class="col-md-6">
                <article class="entry card">
                  <div class="entry__img-holder card__img-holder">
                    <a href="{{ .URL }}">
                      <div class="thumb-container thumb-70">
                        <img src="{{.Params.featuredImage}}" class="entry__img lazyload" alt="" />
                      </div>
                    </a>
                  </div>

                  <div class="entry__body card__body">
                    <div class="entry__header">

                      <h2 class="entry__title">
                          <a href="{{ .URL }}">{{ .Title }}</a>
                        </h2>
                      <ul class="entry__meta">
                        <li class="entry__meta-date">
                          {{ dateFormat "02/01/2006" .Date }}
                        </li>
                      </ul>
                    </div>
                    <div class="entry__excerpt">
                      <p>{{ truncate 200 .Params.Descricao }}</p>
                    </div>
                  </div>
                </article>
              </div>
              {{ end }}
            </div>
          </div>
          <!-- end pane 1 -->

          <div class="tabs__content-pane" id="tab-news">
            <div class="row card-row">
              {{ range first 4 (where (where .Site.Pages "Section" "noticias" )  "Params.destaque" "CoverBottom") }}
              <div class="col-md-6">
                <article class="entry card">
                  <div class="entry__img-holder card__img-holder">
                    <a href="{{ .URL }}">
                      <div class="thumb-container thumb-70">
                        <img src="{{.Params.featuredImage}}" class="entry__img lazyload" alt="" />
                      </div>
                    </a>
                  </div>

                  <div class="entry__body card__body">
                    <div class="entry__header">

                      <h2 class="entry__title">
                          <a href="{{ .URL }}">{{ .Title }}</a>
                        </h2>
                      <ul class="entry__meta">
                        <li class="entry__meta-date">
                          {{ dateFormat "02/01/2006" .Date }}
                        </li>
                      </ul>
                    </div>
                    <div class="entry__excerpt">
                      <p>{{ truncate 200 .Params.Descricao }}</p>
                    </div>
                  </div>
                </article>
              </div>
              {{ end }}
            </div>
          </div>
          <!-- end pane 2 -->

          <div class="tabs__content-pane" id="tab-tourism">
            <div class="row card-row">
              {{ range first 4 (where (where .Site.Pages "Section" "turismo" )  "Params.destaque" "CoverBottom") }}
              <div class="col-md-6">
                <article class="entry card">
                  <div class="entry__img-holder card__img-holder">
                    <a href="{{ .URL }}">
                      <div class="thumb-container thumb-70">
                        <img src="{{.Params.featuredImage}}" class="entry__img lazyload" alt="" />
                      </div>
                    </a>
                  </div>

                  <div class="entry__body card__body">
                    <div class="entry__header">

                      <h2 class="entry__title">
                          <a href="{{ .URL }}">{{ .Title }}</a>
                        </h2>
                      <ul class="entry__meta">
                        <li class="entry__meta-date">
                          {{ dateFormat "02/01/2006" .Date }}
                        </li>
                      </ul>
                    </div>
                    <div class="entry__excerpt">
                      <p>{{ truncate 200 .Params.Descricao }}</p>
                    </div>
                  </div>
                </article>
              </div>
              {{ end }}
            </div>
          </div>
          <!-- end pane 3 -->

          <div class="tabs__content-pane" id="tab-food">
            <div class="row card-row">
              {{ range first 4 (where (where .Site.Pages "Section" "gastronomia" )  "Params.destaque" "CoverBottom") }}
              <div class="col-md-6">
                <article class="entry card">
                  <div class="entry__img-holder card__img-holder">
                    <a href="{{ .URL }}">
                      <div class="thumb-container thumb-70">
                        <img src="{{.Params.featuredImage}}" class="entry__img lazyload" alt="" />
                      </div>
                    </a>
                  </div>

                  <div class="entry__body card__body">
                    <div class="entry__header">

                      <h2 class="entry__title">
                          <a href="{{ .URL }}">{{ .Title }}</a>
                        </h2>
                      <ul class="entry__meta">
                        <li class="entry__meta-date">
                          {{ dateFormat "02/01/2006" .Date }}
                        </li>
                      </ul>
                    </div>
                    <div class="entry__excerpt">
                      <p>{{ truncate 200 .Params.Descricao }}</p>
                    </div>
                  </div>
                </article>
              </div>
              {{ end }}
            </div>
          </div>
          <!-- end pane 4 -->

          <div class="tabs__content-pane" id="tab-events">
            <div class="row card-row">
              {{ range first 4 (where (where .Site.Pages "Section" "eventos" )  "Params.destaque" "CoverBottom") }}
              <div class="col-md-6">
                <article class="entry card">
                  <div class="entry__img-holder card__img-holder">
                    <a href="{{ .URL }}">
                      <div class="thumb-container thumb-70">
                        <img src="{{.Params.featuredImage}}" class="entry__img lazyload" alt="" />
                      </div>
                    </a>
                  </div>

                  <div class="entry__body card__body">
                    <div class="entry__header">

                      <h2 class="entry__title">
                          <a href="{{ .URL }}">{{ .Title }}</a>
                        </h2>
                      <ul class="entry__meta">
                        <li class="entry__meta-date">
                          {{ dateFormat "02/01/2006" .Date }}
                        </li>
                      </ul>
                    </div>
                    <div class="entry__excerpt">
                      <p>{{ truncate 200 .Params.Descricao }}</p>
                    </div>
                  </div>
                </article>
              </div>
              {{ end }}
            </div>
          </div>
          <!-- end pane 5 -->
        </div>
        <!-- end tab content -->
      </section>
      <!-- end latest news -->

    </div>
    <!-- end posts -->

    <!-- Sidebar -->
    <aside class="col-lg-4 sidebar sidebar--right">

      <!-- Widget Ad -->
      <aside class="widget widget_media_image">
        <a href="#">
          <img src="http://deothemes.com/envato/deus/html/img/content/placeholder_336.jpg" alt="">
        </a>
      </aside>

      <!-- Widget Recomenda -->
      <aside class="widget widget-rating-posts">
        <h4 class="widget-title">Recomendamos!</h4>
        {{ range first 2 .Pages }}
        <article class="entry" style="margin-top: 60px;">
          <div class="entry__img-holder">
            <a href="{{ .URL }}">
              <div class="thumb-container thumb-60">
                <img data-src="http://deothemes.com/envato/deus/html/img/content/review/review_post_1.jpg" src="http://deothemes.com/envato/deus/html/img/content/review/review_post_1.jpg" class="entry__img lazyloaded" alt="">
              </div>
            </a>
          </div>

          <div class="entry__body">
            <div class="entry__header">

              <h2 class="entry__title">
                  <a href="{{ .URL }}">{{ .Title }}</a>
                </h2>
              <ul class="entry__meta">
                <li class="entry__meta-rating">
                  <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                </li>
              </ul>
            </div>
          </div>
        </article>
        {{ end }}
      </aside>

    </aside>
    <!-- end sidebar -->

  </div>
  <!-- end content -->

  <!-- Ad Banner 728 -->
  <div class="text-center pb-48">
    <a href="#">
      <img src="http://deothemes.com/envato/deus/html/img/content/placeholder_728.jpg" alt="">
    </a>
  </div>

  <!-- Carousel posts -->
  <section class="section mb-0">
    <div class="title-wrap title-wrap--line title-wrap--pr">
      <h3 class="section-title">Escolha dos editores</h3>
    </div>

    <!-- Slider -->
    <div id="owl-posts" class="owl-carousel owl-theme owl-carousel--arrows-outside">

      {{ range first 4 (where .Site.Pages "Params.editorspick" "==" "true") }}

      <article class="entry thumb thumb--size-1">
        <div class="entry__img-holder thumb__img-holder" style="background-image: url('http://deothemes.com/envato/deus/html/img/content/carousel/carousel_post_1.jpg');">
          <div class="bottom-gradient"></div>
          <div class="thumb-text-holder">
            <h2 class="thumb-entry-title">
                <a href="{{ .URL }}">{{ .Title }}</a>
              </h2>
          </div>
          <a href="{{ .URL }}" class="thumb-url"></a>
        </div>
      </article>

      {{ end }}
    </div>
    <!-- end slider -->

  </section>
  <!-- end carousel posts -->

  <!-- Video posts -->
  <section class="section mb-24">
    <div class="title-wrap title-wrap--line">
      <h3 class="section-title">Vídeos</h3>
      <a href="#" class="all-posts-url">Ver todos</a>
    </div>
    <div class="row card-row">
      {{ range first 2 .Pages }}
      <div class="col-md-6">
        <article class="entry card">
          <div class="entry__img-holder card__img-holder">
            <a href="{{ .URL }}">
              <div class="thumb-container thumb-65">
                <img data-src="http://deothemes.com/envato/deus/html/img/content/grid/grid_post_5.jpg" src="img/empty.png" class="entry__img lazyload" alt="" />
              </div>
            </a>
            <div class="entry__play-time"><i class="fas fa-play"></i>3:21</div>
          </div>

          <div class="entry__body card__body">
            <div class="entry__header">
              <h2 class="entry__title">
                  <a href="{{ .URL }}">{{ .Title }}</a>
                </h2>
            </div>
            <div class="entry__excerpt">
              <p>{{ truncate 200 .Params.Descricao }}</p>
            </div>
          </div>
        </article>
      </div>
      {{ end }}
    </div>
  </section>
  <!-- end video posts -->

</div>
<!-- end main container -->
{{end}}

{{ define "footer" }} {{end}}
